::before ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-family: Arial, Helvetica, sans-serif;  
}
body{
    height: 100vh;
}
nav{
    width: 100%;
    height: 50px;
    background-color: #7f8c8d;
    border-bottom: 0.5px solid rgb(167, 167, 167);
  
}
nav {
    position: relative;
    top: -2px;
    position: fixed;
    z-index: 100;
}
nav .navfixe {
    position: relative;
    position: fixed;
    z-index: 100;
}
nav ul{
    padding: 0;
    margin: 0;
}
nav ul li{
    margin-left: 0;
    margin-bottom: 5px;
    text-align: center;
    padding-right: 0;
    margin-bottom: 5px;
    transition: 0.5s;
    text-align: center;
}
nav ul li:hover{
    background-color:rgb(156, 156, 156);
    transition: 0.5s;
}
nav ul{
    display: flex;
}
nav a{
    text-decoration: none;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.liste-items{
    color: #f1f1f1;
    list-style-type: none;
    height: 100%;
    line-height: 50px;
    text-align: centers;
    font-size: 22px;
}
.items{
    cursor: pointer;
    margin:  0 20px;
    flex-shrink: 0;
}
.items span{
    font-size: 17px; 
}
/*sous liste */
.sous-liste{
    position: relative;
    top: -2px;
    display: none;
}
.items-sous-liste{
    list-style-type: none;
    text-align: center;
    padding: 0 10px;
    background: #7f8c8d;
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 0.5px solid rgb(167, 167, 167);
}
.items-sous-liste:hover{
    background: rgb(156, 156, 156);
}
.items:hover > ul{
    display: block;
}
nav ul li{
    border-bottom: 1px solid #bbb;
}

/* Lot1*/
.article{
    margin: 50px 0;
    padding: 0 10%;
}
h1{
    font-size: 40px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
p {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 25px;
}
.lot1{
    display: flex;
    justify-content: space-between;
}
.lot1 img{
    box-shadow: 0 0 9px rgba(0, 0, 0, 1);
    width: 250px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
}
h3{
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
}
.lot1 .box1{
    transform: scale(100%);
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}
.lot1 .box1:hover{
    transform: scale(105%);
}
/* Lot2 */

.lot2{
    display: flex;
    justify-content: space-between;
}
.lot2 img{
    box-shadow: 0 0 9px rgba(0, 0, 0, 1);
    width: 250px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
}
h3{
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
}
.lot2 .box2{
    transform: scale(100%);
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}
.lot2 .box2:hover{
    transform: scale(105%);
}

/* Lot3*/

.lot3{
    display: flex;
    justify-content: space-between;
}
.lot3 img{
    box-shadow: 0 0 9px rgba(0, 0, 0, 1);
    width: 250px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
}
h3{
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
}
.lot3 .box3{
    transform: scale(100%);
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}
.lot3 .box3:hover{
    transform: scale(105%);
}
/* Lot4*/
.lot4{
    display: flex;
    justify-content: space-between;
}
.lot4 img{
    box-shadow: 0 0 9px rgba(0, 0, 0, 1);
    width: 250px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
}
h3{
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
}
.lot4 .box4{
    transform: scale(100%);
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}
.lot4 .box4:hover{
    transform: scale(105%);
}
/* Lot5*/
.lot5{
     display: flex;
    justify-content: space-between;
}
.lot5 img{
    box-shadow: 0 0 9px rgba(0, 0, 0, 1);
    width: 250px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
}
h3{
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
}
.lot5 .box5{
    transform: scale(100%);
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}
.lot5 .box5:hover{
    transform: scale(105%);
}
/*Lot6 */

.lot6{
    display: flex;
    justify-content: space-between;
}
.lot6 img{
    box-shadow: 0 0 9px rgba(0, 0, 0, 1);
    width: 250px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
}
h3{
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
}
.lot6 .box6{
    transform: scale(100%);
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}
.lot6 .box6:hover{
    transform: scale(105%);
}

/*Lot7 */

.lot7{
    display: flex;
    justify-content: space-between;
}
.lot7 img{
    box-shadow: 0 0 9px rgba(0, 0, 0, 1);
    width: 250px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
}
h3{
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
}
.lot7 .box7{
    transform: scale(100%);
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}
.lot7 .box7:hover{
    transform: scale(105%);
}
/*lot8*/
.lot8{
    display: flex;
    justify-content: space-between;
}
.lot8 img{
    box-shadow: 0 0 9px rgba(0, 0, 0, 1);
    width: 250px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
}
h3{
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
}
.lot8 .box8{
    transform: scale(100%);
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}
.lot8 .box8:hover{
    transform: scale(105%);
}
/*Lot9 */
.lot9{
    display: flex;
    justify-content: space-between;
}
.lot9 img{
    box-shadow: 0 0 9px rgba(0, 0, 0, 1);
    width: 250px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
}
h3{
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
}
.lot9 .box9{
    transform: scale(100%);
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}
.lot9 .box9:hover{
    transform: scale(105%);
}
/*Lot10 */
.lot10{
    display: flex;
    justify-content: space-between;
}
.lot10 img{
    box-shadow: 0 0 9px rgba(0, 0, 0, 1);
    width: 250px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
}
h3{
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
}
.lot10 .box10{
    transform: scale(100%);
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}
.lot10 .box10:hover{
    transform: scale(105%);
}

/*Lot11 */
.lot11{
    display: flex;
    justify-content: space-between;
}
.lot11 img{
    box-shadow: 0 0 9px rgba(0, 0, 0, 1);
    width: 250px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
}
h3{
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
}
.lot11 .box11{
    transform: scale(100%);
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}
.lot11 .box11:hover{
    transform: scale(105%);
}
/*Lot12 */
.lot12{
    display: flex;
    justify-content: space-between;
}
.lot12 img{
    box-shadow: 0 0 9px rgba(0, 0, 0, 1);
    width: 250px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
}
h3{
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
}
.lot12 .box12{
    transform: scale(100%);
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}
.lot12 .box12:hover{
    transform: scale(105%);
}

/*Lot13 */
.lot13{
    display: flex;
    justify-content: space-between;
}
.lot13 img{
    box-shadow: 0 0 9px rgba(0, 0, 0, 1);
    width: 250px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
}
h3{
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
}
.lot13 .box13{
    transform: scale(100%);
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}
.lot13 .box13:hover{
    transform: scale(105%);
}

/*Lot14 */
.lot14{
    display: flex;
    justify-content: space-between;
}
.lot14 img{
    box-shadow: 0 0 9px rgba(0, 0, 0, 1);
    width: 250px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
}
h3{
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
}
.lot14 .box14{
    transform: scale(100%);
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}
.lot14 .box14:hover{
    transform: scale(105%);
}

/*Lot15 */
.lot15{
    display: flex;
    justify-content: space-between;
}
.lot15 img{
    box-shadow: 0 0 9px rgba(0, 0, 0, 1);
    width: 250px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
}
h3{
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
}
.lot15 .box15{
    transform: scale(100%);
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}
.lot15 .box15:hover{
    transform: scale(105%);
}


@media screen and (max-width: 899px) {

    h1{
        font-size: 40px;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Times New Roman', Times, serif;
    }
    .pieces p{
      text-align: center;
      margin-top: 15px;
      margin-bottom: 25px;  
    }
    /*lot1*/
    .lot1{
        display: flex;
        justify-content: space-between;
    }
    .lot1 img{
        border: 2px solid #fff;
        box-shadow: 0 0 9px rgba(0, 0, 0, 1);
        max-width: 150px;
        height: 130px;
        border-radius: 10px;
        margin-bottom: 20px;  
    } 
    h3{
        text-transform: uppercase;
        font-size: 10px;
        text-align: center;
    }
    article .box1 img{
        width: 80%;
    }
    /*lot2*/
    .lot2{
        display: flex;
        justify-content: space-between;
    }
    .lot2 img{
        border: 2px solid #fff;
        box-shadow: 0 0 9px rgba(0, 0, 0, 1);
        max-width: 150px;
        height: 130px;
        border-radius: 10px;
        margin-bottom: 20px;  
    } 
    h3{
        text-transform: uppercase;
        font-size: 10px;
        text-align: center;
    }
    article .box2 img{
        width: 80%;
        
    }
    /*lot3*/
    .lot3{
        display: flex;
        justify-content: space-between;
    }
    .lot3 img{
        border: 2px solid #fff;
        box-shadow: 0 0 9px rgba(0, 0, 0, 1);
        max-width: 150px;
        height: 130px;
        border-radius: 10px;
        margin-bottom: 20px;  
    } 
    h3{
        text-transform: uppercase;
        font-size: 10px;
        text-align: center;
    }
    article .box3 img{
        width: 80%;
        
    }
    /*lot4*/
    .lot4{
        display: flex;
        justify-content: space-between;
    }
    .lot4 img{
        border: 2px solid #fff;
        box-shadow: 0 0 9px rgba(0, 0, 0, 1);
        max-width: 150px;
        height: 130px;
        border-radius: 10px;
        margin-bottom: 20px;  
    } 
    h3{
        text-transform: uppercase;
        font-size: 10px;
        text-align: center;
    }
    article .box4 img{
        width: 80%;
        
    }
    /*lot5*/
    .lot5{
        display: flex;
        justify-content: space-between;
    }
    .lot5 img{
        border: 2px solid #fff;
        box-shadow: 0 0 9px rgba(0, 0, 0, 1);
        max-width: 150px;
        height: 130px;
        border-radius: 10px;
        margin-bottom: 20px;  
    } 
    h3{
        text-transform: uppercase;
        font-size: 10px;
        text-align: center;
    }
    article .box5 img{
        width: 80%;
        
    }

    /*lot6*/
    .lot6{
        display: flex;
        justify-content: space-between;
    }
    .lot6 img{
        border: 2px solid #fff;
        box-shadow: 0 0 9px rgba(0, 0, 0, 1);
        max-width: 150px;
        height: 130px;
        border-radius: 10px;
        margin-bottom: 20px; 
    }
    h3{
        text-transform: uppercase;
        font-size: 10px;
        text-align: center;
    } 
    article .box6 img{
        width: 80%;
        
    }
    /*lot7*/
    .lot7{
        display: flex;
        justify-content: space-between;
    }
    .lot7 img{
        border: 2px solid #fff;
        box-shadow: 0 0 9px rgba(0, 0, 0, 1);
        max-width: 150px;
        height: 130px;
        border-radius: 10px;
        margin-bottom: 20px; 
    }
    h3{
        text-transform: uppercase;
        font-size: 10px;
        text-align: center;
    } 
    article .box7 img{
        width: 80%;
        
    }
    /*lot8*/
    .lot8{
        display: flex;
        justify-content: space-between;
    }
    .lot8 img{
        border: 2px solid #fff;
        box-shadow: 0 0 9px rgba(0, 0, 0, 1);
        max-width: 150px;
        height: 130px;
        border-radius: 10px;
        margin-bottom: 20px; 
    }
    h3{
        text-transform: uppercase;
        font-size: 10px;
        text-align: center;
    } 
    article .box8 img{
        width: 80%;
        
    }
     /*lot9*/
     .lot9{
        display: flex;
        justify-content: space-between;
    }
    .lot9 img{
        border: 2px solid #fff;
        box-shadow: 0 0 9px rgba(0, 0, 0, 1);
        max-width: 150px;
        height: 130px;
        border-radius: 10px;
        margin-bottom: 20px; 
    }
    h3{
        text-transform: uppercase;
        font-size: 10px;
        text-align: center;
    } 
    article .box9 img{
        width: 80%;
        
    }
     /*lot10*/
     .lot10{
        display: flex;
        justify-content: space-between;
    }
    .lot10 img{
        border: 2px solid #fff;
        box-shadow: 0 0 9px rgba(0, 0, 0, 1);
        max-width: 150px;
        height: 130px;
        border-radius: 10px;
        margin-bottom: 20px; 
    }
    h3{
        text-transform: uppercase;
        font-size: 10px;
        text-align: center;
    } 
    article .box10 img{
        width: 80%;
        
    }

        /*lot11*/
        .lot11{
            display: flex;
            justify-content: space-between;
        }
        .lot11 img{
            border: 2px solid #fff;
            box-shadow: 0 0 9px rgba(0, 0, 0, 1);
            max-width: 150px;
            height: 130px;
            border-radius: 10px;
            margin-bottom: 20px; 
        }
        h3{
            text-transform: uppercase;
            font-size: 10px;
            text-align: center;
        } 
        article .box11 img{
            width: 80%;
            
        }
            /*lot12*/
     .lot12{
        display: flex;
        justify-content: space-between;
    }
    .lot12 img{
        border: 2px solid #fff;
        box-shadow: 0 0 9px rgba(0, 0, 0, 1);
        max-width: 150px;
        height: 130px;
        border-radius: 10px;
        margin-bottom: 20px; 
    }
    h3{
        text-transform: uppercase;
        font-size: 10px;
        text-align: center;
    } 
    article .box12 img{
        width: 80%;
        
    }
        /*lot13*/
        .lot13{
            display: flex;
            justify-content: space-between;
        }
        .lot13 img{
            border: 2px solid #fff;
            box-shadow: 0 0 9px rgba(0, 0, 0, 1);
            max-width: 150px;
            height: 130px;
            border-radius: 10px;
            margin-bottom: 20px; 
        }
        h3{
            text-transform: uppercase;
            font-size: 10px;
            text-align: center;
        } 
        article .box13 img{
            width: 80%;
            
        }
            /*lot14*/
     .lot14{
        display: flex;
        justify-content: space-between;
    }
    .lot14 img{
        border: 2px solid #fff;
        box-shadow: 0 0 9px rgba(0, 0, 0, 1);
        max-width: 150px;
        height: 130px;
        border-radius: 10px;
        margin-bottom: 20px; 
    }
    h3{
        text-transform: uppercase;
        font-size: 10px;
        text-align: center;
    } 
    article .box14 img{
        width: 80%;
        
    }
            /*lot15*/
            .lot15{
                display: flex;
                justify-content: space-between;
            }
            .lot15 img{
                border: 2px solid #fff;
                box-shadow: 0 0 9px rgba(0, 0, 0, 1);
                max-width: 150px;
                height: 130px;
                border-radius: 10px;
                margin-bottom: 20px; 
            }
            h3{
                text-transform: uppercase;
                font-size: 10px;
                text-align: center;
            } 
            article .box15 img{
                width: 80%;
                
            }

}